<nav id="menu_willsong">
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/listen-to-end-that-chapter">Music</a></li>
        <li><a href="/tag/Videos">Videos</a></li>
        <li><a href="/tag/It-Happened">It Happened</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
